
body{
  margin: 0px;
  font-family: "gotham-light";
  font-weight: 100
}
h1,h2,h3,h4,h5,p{
  font-weight: 100
}
h4{
  font-size: 18px;
}

h3{
  font-size: 24px;
  margin: 18px 0px;
}
h2{
  font-size: 28px;
}
h1{
  font-size: 32px;
}

.full-width{
  width: 100%;
}
.wrapper{
  width: 1025px;
  margin: 0 auto;
}

.wrapper-sm{
  width: 490px;
  margin: 0 auto;
}
.bor-dotted-bottom{
  border-bottom: 2px dotted #777777;
}
.box-bottom{
  box-shadow: 0 0 2px 2px rgba(216, 216, 216, 0.65);
  border-bottom: 1px solid #d8d8d8;
}

.clearfix{
  clear: both;
  overflow: hidden;
}

.v-center-parent{
    display: table;
    table-layout: fixed;
    width: 100%;
 }

.v-center-child{
  display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

a{
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
  margin: 0;
}

.hide{
  display: none;
}
.pull-left{
  float:left;
}
.pull-right{
  float: right;
}
.m-init{
  margin: 0px;
}
.v-mid{
  vertical-align: middle;
}
.text-center{
  text-align: center;
}

.txt-orange{
  color: #ad904f;
}
.txt-dark-gray{
  color: #373737;
}
.txt-gray{
  color: #6a6a6a;
}
.txt-light-gray{
 color: #545454;
}
.txt-md{
  font-size: 16px;
}
.txt-white{
  color: #fff;
}
.txt-black{
  color: #222222;
}
.bg-orange{
  background-color: #ad904f;
}
.bg-black{
  background-color: #000;
}
.banner-btn{
  padding: 10px 45px;
  color: #ad904f;
  font-size: 22px;
  box-shadow: 0 0 5px #333;
  border: 1px;
  background: #fff;
  cursor: pointer;
  outline: none;
}

.banner-btn:hover{
  background-color: #ad904f;
  color: #fff;
}

.nav .nav-item{
  display: inline-block;
  vertical-align: middle;
  padding: 0px 40px;
}

.header{
  padding: 12px 0px;}

.nav-item a{
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.nav-item a:hover{
  color: #ad904f !important;
}

.active-tab a{
  color: #ad904f;
}

.home-section, .story-section, .contact-section, .fonder-section, .services-section, .banner-section, .package-section, .address-section, .post-section{
  min-height: 255px;
  padding: 60px 0px;
}

.story-section{
  min-height: 255px;
  padding: 40px 0px;
}
.banner-sec {
  background: url('../img/banner.png') no-repeat;
  background-size: 100% 100%;
}
.story-banner-sec{
  background: url('../img/banner.png') no-repeat;
  background-size: 100% 100%;
  height: 400px;
}

.testimonial-wrapper .bx-wrapper .bx-viewport{
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: 0px;
  background: none;
}

.testimonial-wrapper .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #765f2a;
}
.testimonial-wrapper .bx-wrapper .bx-pager.bx-default-pager a.active{
  background: #765f2a;
}

.testimonial-wrapper .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
}

.post-pic{
  width: 20%;
}
.post-dec{
  width: 78%;
}
.post-dec p{
  padding-top: 10px;
}
.p-top-bottom-space{
  padding: 30px 0px; 
}

.dec-md{
  color: #393939;
  font-size: 20px;
  line-height: 40px;
}

.post-info{
  padding: 10px 0px;
}
.dec-xsm{
  font-size: 15px;
  line-height: 20px;
  color: #fdf4e3;
  width: 240px;
  margin: 0 auto;
}
.grid-box{
  width: 33.3%;
  float: left;
  text-align: center;
}

.img-item-1{
  width: 55%;
  float: left;
}
.img-item-2{
  width: 45%;
  float: left;
}
.img-item-3{
  width: 58%;
  float: left;
}
.img-item-4{
  width: 42%;
  float: left;
}

.img-item-1 img, .img-item-2 img, .img-item-3 img, .img-item-4 img{
  width: 100%;
  height: 300px;
  vertical-align: middle;
  cursor: pointer;
}

.img-desc{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 20px;
    background: rgba(46, 34, 32, 0.7);
    margin: 0;
    padding: 20px 20px;
}

.pos-rel{
  position: relative;
}

.seperator{
  width: 100px;
  height: 2px;
  background-color: #ad904f;
  margin: 0;
  display: inline-block;
}

.testimonial-des{
  line-height: 40px;
  font-size: 20px;
  color: #f9f6f0;
}
.testimonial-wrapper{
  width: 80%;
  margin: 0 auto;
}

.contact-wrapper{
    width: 75%;
    margin: auto;
}
.contact-container{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(185, 173, 114, 0.7);
}

.line {
  display: block;
  width: 30px;
  height: 3px;
  background: #000;
  margin-bottom: 4px;
}
.menu-icon{
  margin-top: 18px;
  cursor: pointer;
}
.mobile-menu{
    padding: 5px 20px;
}
.input-md {
    display: block;
    height: 40px;
    width: 355px;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    color: #393939;
    padding: 0 18px;
    font-size: 16px;
    outline: none;
}

.textarea-md{
  width: 355px;
  height: 104px;
  border: none;
  resize: none;
  border-radius: 3px;
  color: #393939;
  padding: 18px;
  font-size: 16px;
  outline: none;
}
.textarea-lg textarea{
  width: 618px;
  border: 1px solid #777777;
  height: 160px;
  font-size: 16px;
  outline: none;
  padding-left: 18px;
  padding-top: 18px;
  resize: none;
}

.input-xmd input{
  border: 1px solid #7b7b7b;
  outline: none;
  width: 325px;
  height: 55px;
  padding-left: 20px;
  border-radius: 4px;
  font-size: 18px;
}

.input-sm input{
  width: 290px;
  border: 1px solid #777777;
  height: 40px;
  font-size: 16px;
  outline: none;
  padding-left: 18px;
}
    

.select-md{
  width: 275px;
  margin: 0 auto;
}
 .select-md select{
  width: 275px;
  height: 45px;
  font-size: 16px;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 4;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding-left: 18px;
  outline: none;
  cursor: pointer;
  z-index: 2
}
.drop-down-arrow {
    position: absolute;
    top: 19px;
    right: 18px;
    z-index: 1;
    cursor: pointer;
}
.btn-orange-md{
  background-color: #ad904f;
  border: 1px;
  border-radius: 4px;
  /* padding: 17px; */
  color: #fff;
  width: 346px;
  height: 55px;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}
.btn-orange-sm{
  background-color: #ad904f;
  border: 1px;
  border-radius: 4px;
  color: #fff;
  width: 180px;
  height: 45px;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}

.btn-orange-sm:hover, .btn-orange-md:hover{
  opacity: 0.8;
}

.contact-sec .map-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(185, 173, 114, 0.7);
}

.contact-details{
  width: 45%;
  float: left;
}
.contact-details:first-child{
  margin-right:10%; 
}
.map-overlay {
  background-color: rgba(185, 173, 114, 0.7);
}

.p-bottom-space{
  padding-bottom: 20px;
}
.p-top-space{
  padding-top: 20px;
}

.footer-section{
  padding: 25px 0px;
}

.footer-item {
    margin: 22px 20px 20px 0px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.footer-item:hover{
  color: #ad904f;
}
.footer-social-item{
  display: inline-block;
  margin: 14px 0px 10px 14px;
}

.story-dec{
  color: #373737;
  line-height: 35px;
  font-size: 17px;
}

.prop-pic-container, .prop-desc-container{
  width: 50%;
}
.prop-desc{
  padding-left: 50px;
}

.social-contact-info li{
  display: inline-block;
  font-size: 20px;
  padding: 0px 45px 25px 45px;
}

.social-contact-info li .fb:hover{
  color: #39579a;
}
.social-contact-info li .twt:hover{
  color: #5aa8df;
}
.social-contact-info li .lndn:hover{
  color: #0483bd;
}

.menu-icon span {
  position: relative;
  transition: 300ms ease-in-out;
}
.menu-bar-mob .open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
.menu-bar-mob .open span:nth-child(2) {
  background-color: transparent;
}
.menu-bar-mob .open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -7px;
}

.nav-bar-mob{
  text-align: center;
  font-size: 18px;
  background: rgb(247, 247, 247);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 76px;
  z-index: 5555;
}

.nav-bar-mob li{
  padding: 30px;
}
.overflow-visible{
  overflow: visible;
} 

/*ops-reg{
  font-family: 'opensans-light';
}
.ops-s-bold{
  font-family: 'opensans-semibold';
}

.bg-dark-black{
  background-color: #000;
}
.nav ul li, .brand-social ul li{
  display: inline-block;
  list-style: none;
}
.nav-list a{
  color: #686868;
  font-size: 14px;

}
.footer-nav ul li{
  display: block;
  list-style: none;
  padding: 4px 4px;
}
.footer-nav ul{
  margin: 0;
}

a{
  text-decoration: none;
}

.clearfix{
  clear:both;
  overflow: hidden;
}
.dipInb{
  display: inline-block;
}
.v-mid{
  vertical-align: middle;
}
.pull-left{
  float:left;
}
.pull-right{
  float: right;
}
.txt-center{
  text-align: center;
}

.txt-gray-md{
  color: #393939;
  font-size: 16px;
}
.txt-gray-xmd{
  color: #393939;
  font-size: 18px;
}
.txt-p-gray{
  color: #929292;
  font-size: 16px;
  font-family: 'opensans-light';
}
.txt-gray-xlg{
  color: #393939;
  font-size: 24px;
}
.txt-light-gray-md{
  color: #8d8d8d;
  font-size: 18px;
}
.txt-white-sm{
  color: #fff;
  font-size: 12px;
}
.txt-dark-gray-md{
  font-size: 14px;
  color: #a4a49a;
}
.txt-green-md{
  font-size: 18px;
  color: #285726;
}
.txt-white-md{
  font-size: 18px;
  color: #fff;
}
.txt-light-black-lg{
  font-size: 18px;
  color: #010101;
}
.btn-green-md{
  color: #fff;
  display: inline-block;
  background-color: #014201;
  cursor: pointer;
  border-radius: 5px;
    padding: 11px 10px;
    font-size: 14px;
}
.btn-green-lg{
  color: #fff;
  width: 375px;
  display: inline-block;
  background-color: #014201;
  cursor: pointer;
  border-radius: 5px;
  padding: 14px 10px 15px 10px;
  font-size: 16px;
}
.input-lg{
  padding: 5px 5px;
}

.input-lg input{
  width: 375px;
  height: 50px;
  border: 1px #fff;
  background-color: #f3f1f5;
  border-radius: 5px;
  outline: none;
  padding-left: 20px;
  font-size: 16px;
  color: #777777;
  font-weight: lighter;
  font-family: 'opensans-regular';
}
.textarea-lg{
  padding: 5px 5px 1px 5px;
}
.textarea-lg textarea{
  padding: 15px 0px 0px 20px;
  width: 375px;
  height: 99px;
  border: 1px #fff;
  background-color: #f3f1f5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #777777;
  font-weight: lighter;
  font-family: 'opensans-regular';
  margin: 0;
  resize: none;
}

/********* nav ****************************

.header{
  padding-top: 10px;
    padding-bottom: 10px;
}
.nav ul{
  padding-top: 18px;
}
.nav ul li{
  padding: 0 22px;
}

.nav .help-btn{
  padding-top: 24px;
  padding-left: 22px;
}
.bor-botton{
  border-bottom: 1px solid #e2e2e3; 
}
.nav-active{
  margin: 0 auto;
  display: block;
  padding-top: 5px;
}
.nav-list:hover .nav-active, .nav-list:visited .nav-active, .nav-list:focus .nav-active{
  display: block !important;
}
.nav-list a:hover{
  color: #000;
}
.nav .active a {
  color: #000;
}
.active .nav-active{
  display: block !important;
}
.hlp-btn:hover{
  opacity: 0.8;
}


/***********banner***************************/
/*.banner-info{
  position: relative;
}
.banner-text{
  position: absolute;
  bottom: 29%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  width: 960px;
}
.hiw-info{
  width: 68%;
    margin: 0 auto;
}

.p-desc{
  width: 74%;
    margin: 0 auto;
}*/

/*********footer bg**************************/
/*.footer-bg{
  width: 100%;
  background-size: 100%;
  background-image: url('../img/footer-bg.png');
  background-repeat: no-repeat;
}
.footer-nav{
  padding-left:70px;
}
.brand-social ul li{
    padding-right: 22px;
}
.brand-social{
  padding-top: 25px;
}
.cpy-right{
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact-info{
  margin: 0 auto;
  min-height: 350px;
  width: 84.5%;
}
.p-top-bottom-space{
  padding-top: 15px;
  padding-bottom: 15px;
}
.bar{
  width: 80px;
  height: 5px;
  display: block;
  border-top: 5px solid #014201;
  margin: 0 auto;
}*/
